API_PORT=  # Example: '8000'
API_SECRET_KEY=  # Example: 'django-insecure-5hn@r0hf@nm*xyj3y_lt=3(mzy(@*rd&pm^4razwu875q#30o!'
API_DEBUG=  # Example: 'True' or 'False'
API_ALLOWED_HOSTS=  # Example: 'localhost 127.0.0.1'
API_LANGUAGE_CODE=  # Example for ru: 'ru'
API_TIME_ZONE=  # Example for ru: 'Europe/Moscow'